[submodule "tests/bats/lib/bats-core"]
	path = tests/bats/lib/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "tests/bats/lib/bats-support"]
	path = tests/bats/lib/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/bats/lib/bats-assert"]
	path = tests/bats/lib/bats-assert
	url = https://github.com/bats-core/bats-assert.git
