<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025 Meshtastic LLC
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- If a device is missing a GPS - we will still be able to work though , must be before uses-permission-->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <!-- Request legacy Bluetooth permissions on older devices -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- API 31+ Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <!-- API 33+ Notification runtime permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permissions required for providing location (from phone GPS) to mesh -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- This permission is required for analytics - and soon the MQTT gateway -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
      This permission is optional but recommended so we can be smart
      about when to send data.
     -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Only for debug log writing, disable for production
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->

    <!-- We run our mesh code as a foreground service - FIXME, find a way to stop doing this -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- Needed to open our bluetooth connection to our paired device (after reboot) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Camera permission for QR Code scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- NFC permission for sharing channels and contacts -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <!-- for USB serial access -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <!-- Declare geo: intent visibility for Android 11+ (needed for resolveActivity with map apps) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name="com.geeksville.mesh.MeshUtilApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/SplashTheme"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- Default crash collection and analytics off until we (possibly) turn it on in application.onCreate -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- Disable AdID collection for privacy -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />

        <!-- This is the public API for doing mesh radio operations from android apps -->
        <service
            android:name="com.geeksville.mesh.service.MeshService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice|location"
            android:exported="true" tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.geeksville.mesh.Service" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name="com.geeksville.mesh.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="meshtastic" android:host="meshtastic" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <!-- The QR codes to share channel settings and contacts are shared as meshtastic URLS

                an approximate example:
                https://meshtastic.org/e/YXNkZnF3ZXJhc2RmcXdlcmFzZGZxd2Vy
                https://meshtastic.org/v/#CNar9vwDEi0KCSEzZjgyOTVkNhIPV2F0ZXJmYWxsIDIg4piGGgPimaciBu2eP4KV1igJOAI
                -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="meshtastic.org" />
                <data android:pathPrefix="/e/" />
                <data android:pathPrefix="/E/" />
                <data android:pathPrefix="/v/" />
                <data android:pathPrefix="/V/" />
            </intent-filter>

            <!-- Support NFC NDEF Discovery for the same URLs -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:host="meshtastic.org" />
                <data android:pathPrefix="/e/" />
                <data android:pathPrefix="/E/" />
                <data android:pathPrefix="/v/" />
                <data android:pathPrefix="/V/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <!-- The USB devices we want to be informed about -->
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <receiver android:name="com.geeksville.mesh.service.BootCompleteReceiver"
            android:exported="false">
            <!-- handle boot events -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!--For HTC devices per https://stackoverflow.com/questions/20441308/boot-completed-not-working-android/46294732#46294732 -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <!-- for testing -->
                <action android:name="com.geeksville.mesh.SIM_BOOT" />
            </intent-filter>

            <!-- Also restart our service if the app gets upgraded -->
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!-- I was using PACKAGE_REPLACED, but MY_PACKAGE_REPLACED is newer and seems cleaner
                <data
                    android:scheme="package"
                    android:path="com.geeksville.mesh" /> -->
            </intent-filter>
        </receiver>
        <receiver android:name="com.geeksville.mesh.service.ReplyReceiver"/>
        <receiver android:name="com.geeksville.mesh.service.MarkAsReadReceiver"/>
        <receiver android:name="com.geeksville.mesh.service.ReactionReceiver"/>

        <!-- allow for plugin discovery -->
        <activity
            android:name="com.atakmap.app.component"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter android:label="@string/app_name">
                <action android:name="com.atakmap.app.component" />
            </intent-filter>
        </activity>

    </application>

</manifest>
