name: Android CI
# from https://medium.com/@wkrzywiec/github-actions-for-android-first-approach-f616c24aa0f9

on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master
    - name: Mock config files for CI
      run: |
        rm ./app/google-services.json
        cp ./app/google-services-example.json ./app/google-services.json
        cp ./app/special/mapbox-token.xml ./app/src/main/res/values/
        cp ./app/special/curfirmwareversion.xml ./app/src/main/res/values/
    - name: set up JDK 1.8
      uses: actions/setup-java@master
      with:
        java-version: 1.8
    - name: Unit tests
      run: bash ./gradlew test --stacktrace
