name: Android CI (Merge Queue)

on:
  merge_group:
    types: [checks_requested]

concurrency:
  group: build-mq-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # New job to satisfy the required check for the merge queue
  # scheduled_updates:
  #   if: github.repository == 'meshtastic/Meshtastic-Android' # Keep consistent with other jobs
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Always pass merge queue scheduled_updates check
  #       run: echo "This check is primarily for PR entry; passing in merge queue."

  build_and_detekt:
    if: github.repository == 'meshtastic/Meshtastic-Android'
    uses: ./.github/workflows/reusable-android-build.yml
    with:
      upload_artifacts: false
    secrets:
      GRADLE_ENCRYPTION_KEY: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

  androidTest:
    if: github.repository == 'meshtastic/Meshtastic-Android'
    uses: ./.github/workflows/reusable-android-test.yml
    with:
      api_levels: '[26, 35]' # Run on both API 26 and 35 for merge queue
      upload_artifacts: false
    secrets:
      GRADLE_ENCRYPTION_KEY: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

  check-workflow-status:
    name: Check Workflow Status
    runs-on: ubuntu-latest
    needs:
      [
        build_and_detekt,
        androidTest,
        deploy,
      ]
    if: always()
    steps:
      - name: Check Workflow Status
        run: |
          exit_on_result() {
            if [[ "$2" == "failure" || "$2" == "cancelled" ]]; then
              echo "Job '$1' failed or was cancelled."
              exit 1
            fi
          }
          exit_on_result "build_and_detekt" "${{ needs.build_and_detekt.result }}"
          exit_on_result "androidTest" "${{ needs.androidTest.result }}"
